body, html {
    position: relative;
    background: #FFFFFF;
}
.one {
    background: #aaa;
    align-items: center;
    display: flex;
    width: 1000px;
    justify-content: center;
}
.two {
    background: #aaa;
    align-items: center;
    display: flex;
    width: 500px;
    justify-content: center;
}
.flex-container {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: flex-start;
}
.rectangle1 {
    display: flex;
    border-width: 0 12px 12px 0;
    border-style: none solid solid none;
    border-color: black;
    height: 250px;
}
.rectangle2 {
    display: flex;
    border-width: 0 0 12px 0;
    border-style: none none solid solid;
    border-color: black;
    height: 250px;
}
.container {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: flex-start;
}
.rectangle3 {
    display: flex;
    border-width: 12px 12px 24px 0; 
    border-style: solid solid solid none;
    border-color: black;
    height: 525px;
}
.rectangle4 {
    display: flex;
    border-width: 12px 0 12px 0; 
    border-style: solid none solid solid;
    border-color: black;
    height: 250px;
}
p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 24px;
    font-style: normal;
    color: black;
}
@media only sreen and (max-width: 480px) {
    .rectangle1 {
        display: flex;
        border-width: 0 12px 12px 0;
        border-style: none solid solid none;
        border-color: black;
        height: 170px;
    }
    .rectangle2 {
        display: flex;
        border-width: 0 0 12px 0;
        border-style: none none solid solid;
        border-color: black;
        height: 170px;
}
